@model BankOfSimba.Models.BankAccount
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
    <p>
        Owner: @Model.Name Balance: @Model.Balance Animal Type: @Model.AnimalType
    </p>
</body>
</html>
