<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/StyleSheet.css">
</head>
<body>
    <ul class="one">
        <li class="two"><a href="/">Information</a></li>
        <li class="two"><a href="store">Store</a></li>
        <li class="two"><a href="trick">Trick Center</a></li>
        <li class="two"><a href="history">Action History</a></li>
        <li class="two" style="float:right"><a class="active" href="login">Login</a></li>
    </ul>
    <h1>Welcome to Programmer Fox Club</h1>
    <p>Please provide a name so we can associate it to your pet!</p>
    <form action="addfox" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" />
        <button type="submit">GO</button>
    </form>
</body>
</html>
